body{
    font-family: calibri, sans-serif;
}
div{
    background-color: lightgray;
    width:400px;
    padding:10px;
    border-radius: 10px;
    box-shadow: 0 0 20px black
}
input, textarea, select{
    border:none;
    font-size: 20px;
    margin:10px;
    border-radius: 10px;
}
.form{
    background-color: black;
    color:white
}