body{
    background-color: teal;
}
h1{
    text-align: center;
}
.gray-scale{
    width: 400px;
    height: 450px;
    margin:50px auto;
    box-shadow: 0 0 20px black;
    border-radius: 20px;
    overflow: hidden;
}

.gray-scale img{
    width:inherit;
    height: inherit;
    border-radius: 20px;
    transition: all 0.5s;
    filter: grayscale(100%);

}
.gray-scale:hover img{
    transform: scale(1.2,1.2);
    filter: grayscale(0%);
    
}