body{
    background-color: darkslategray;
}
h1{
    text-align: center;
    margin: 50px auto;
    color: antiquewhite;
}
.container {
    width: 500px;
    height: 350px;
    margin: 70px auto;
    border-radius: 15px;
    box-shadow: 0 10px 15px black;
    position: relative;
    overflow: hidden;
}

.container img {
    width: inherit;
    height: inherit;
    border-radius:0 15px 15px 0;
    transform: translateX(50%);
    transition: all 0.5s;
}
.container:hover img{
    transform: translateX(0%);
}

.container .content {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, blueviolet, deeppink);
    width: 50%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px 0 0 15px;
    transform: translateX(0%);
    transition: all 0.5s;

}
.container:hover .content{
    transform: translateX(-100%);
}
.container .content p{
    font-size: 18px;
}