body{
    background-color: darkslategray;
}
.container{
    width: 359px;
    height: 462px;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0 10px 15px black;
    position: relative;
    overflow: hidden;
}
.container img{
    width: inherit;
    height: inherit;
    transition: all 0.5s;
}
.container .content{
    position: absolute;
    bottom: -56%;
    background: linear-gradient(45deg, blueviolet, deeppink);
    color: white;
    font-family: Arial, sans-serif;
    padding: 10px;
    font-size: 18px;
    transition: all 0.5s;
}
.container:hover .content{
    bottom: 0%;
}.container:hover img{
    transform: translateY(-56%);
}
